
<footer class="page-footer bg-dark">
  <div class="container">
    <div class="row">
      <p>Redes Sociales: </p>
      <div class="col l6 s12 letras-md">
        <a href="https://www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
        
      </div>
      <div class="col l4 offset-l2 s12 letras-md">
        <p><b>Copyright © 1999-2020 E.Tienda.com de S. de R.L. de C.V.</b></p>
       
    
      </div>

    </div>
  </div>

</footer>