.bg-dark{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5%;
    padding: 10px;
   color: white;
  }

  .main {
    flex: 1;
  }

  
@media (max-width: 1400px) {
    .letras-md {
      font-size: 10px;
      
    }
  }