<div class="body">
  <div class="row">
    <!--Aqui-->
    <div class="col-md-4" >
      <mdb-card cascade="true" wider="true">
        
        <mdb-card-body cascade="true" class="text-center">
          <h4 class="card-title">
            <strong>Sopa Maruchan</strong>
          </h4>
          <h5 class="indigo-text">
            <strong>2 * $15.00</strong>
          </h5>
          <mdb-card-text>
            Deliciosa sopa instantanea, de sabor pollo con chile habanero. En presentaciión individual.
          </mdb-card-text>
          <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>05/10/2020</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <!---->
  </div>
</div>