<header>
    <div class="container-fluid">
        <mat-card class="matheader">
            <h1><b>¿Quiénes Somos?</b></h1>
        </mat-card>
    </div>
</header>

<body>
    
<div class="container">
    <mat-card>
        <p>
            ¿Qué es E-Tienda?
            Somos la tienda online de abarrotes líder de América Latina y nuestro propósito es
            democratizar el comercio y el dinero para impactar en el desarrollo de la región.
        </p>
        <p>
            Nacimos en 1999 y actualmente operamos en 18 países de la región. En pocos años, logramos convertirnos en la
            séptima plataforma de comercio electrónico del mundo.
        </p>
        <p>
            En 2017 lanzamos E-Crédito, orientada a democratizar
            el acceso al crédito y potenciar la inclusión financiera. Y, en 2019, celebramos 20 años de vida con una
            fuerte
            apuesta a seguir democratizando el comercio y las finanzas.
        </p>
        <p>
            Los compradores sólo deben registrarse en el sitio, buscar los productos o servicios que necesitan y hacer clic en el botón "comprar”. 
        </p>
        <p>
            <b>SIGUENOS EN NUESTRAS REDES SOCIALES:</b>
        </p>
     
     <div><a href="www.facebook.com"><i class="fab fa-facebook fa-3x"></i></a></div>   
     <br>
     <div><a href="www.instagram.com"><i class="fab fa-instagram fa-3x"></i></a></div>   
     <br>
     <div><a href="www.twitter.com"><i class="fab fa-twitter fa-3x"></i></a></div>    
    
    </mat-card>

</div>
</body>